<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>REFLETS</title>
  <!-- CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" rel="stylesheet">
  {% assets "css" %}
  <link href="{{ ASSET_URL }}" rel="stylesheet">
  {% endassets %}
</head>
<body>
{% block content %}
{% endblock %}
<!-- JS -->
{% assets "js" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}
</body>
</html>