body {
  font-family: 'Roboto', inherit;
}

.footer {
  background-color: #373b4e;
  color: #fff;
}

// Helper classes

.is-circular {
 border-radius: 50%;
}

.has-space-top {
  margin-top: 10px;
}

.spacy {
  margin: 5px 0;
}

// Bulma override
hr {
  background-color: #dadada;
  height: 1px;
}